<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <header>
    <div class=mainheader>
      <h1 class=tytle><a href="/">ChartWorld</a></h1>
      <div class=user>ユーザー名</div>
      <div class=send>send</div>
    </div>
  </header>
  <main>
    <div class=top>sdfgfgs</div>
  </main>
</body>